html,
body,
header,
.view {
  height: 100%;
}
html {
  scroll-behavior: smooth;
}

body {
  font-weight: 400;
}

@media (min-width: 560px) and (max-width: 740px) {
  header .view h3 {
    margin-bottom: 0 !important;
  }
  header .view h5 {
    margin-bottom: 0 !important;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  header .view h3 {
    margin-bottom: 0 !important;
  }
  header .view h5 {
    margin-bottom: 0 !important;
  }
}

/* Carousel*/

.carousel,
.carousel-item,
.active {
  height: 100%;
}

.carousel-inner {
  height: 100%;
}

/*Caption*/

@media (min-width: 776px) {
  .carousel .view ul li {
    display: inline;
  }
  .carousel .view .full-bg-img ul li .flex-item {
    margin-bottom: 1.5rem;
  }
}
.text-color {
  color: #333333;
}

#logo {
  width: 200px;
  height: 50px;
}
.navbar-dark {
  background-color: #333333 !important;
}
.navbar-nav {
  margin: 0 auto !important;
}
.nav-tabs {
  border: none !important;
}

.nav-link {
  border: none !important;
}
.nav-link::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: #757575;
  transition: width 0.5s;
}
.nav-link:hover::after {
  width: 100%;
}
.navbar-expand-lg .navbar-collapse {
  margin-right: 200px;
}
#myVideo {
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
#video-viewport {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: -1;
}
.fullsize-video-bg {
  height: 100%;
  overflow: hidden;
}

.fullsize-video-bg:before {
  content: "";
  background: rgba(114, 45, 0, 0.35);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 0;
}
.fullsize-video-bg:after {
  content: "";
  background-image: url(../img/overlays/03.png);
  background-size: 3px 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.fullsize-video-bg .inner {
  display: table;
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 0;
  position: relative;
  z-index: 2;
  text-shadow: 0 1px 5px rgba(0, 0, 0, 0.5);
}
.fullsize-video-bg .inner > div {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  padding: 0 2em;
}
.display-4 {
  text-align: left;
  margin-left: 5%;
}
h4.display-4 {
  font-size: 2rem;
}
h3.display-4 {
  font-size: 2.2rem !important;
  font-weight: bold;
}
.streak {
  background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Work/full%20page/img%20%282%29.jpg");
  height: 45vh !important;
}
.service-card {
  height: 80%;
}
@media (max-width: 776px) {
  h4.display-4 {
    font-size: 1.2rem !important;
  }
  h3.display-4 {
    font-size: 2rem !important;
    font-weight: bold;
  }
}
.about-img {
  width: 100%;
}
.skill-title {
  margin-left: 5%;
}
.card{
  height: 26rem !important;
}
.portfolio{
  
  overflow: hidden;
}
.image-section{
  position: relative;
  min-height: 58vh;
}
.partfolio-content {
  display: flex;
}
.image-section .image-container{
  position: relative;
  
}
.partfolio-text{
  width: 50%;
  margin-top: 3rem;
}
.object img {
  /* max-width: 100%; */
  border-radius: 6px;
  box-shadow: 0 0 45px 0 rgba(0, 0, 0, 0.4);
}
.object{
  position: absolute;
  width: 50%;
}
.object-1 {
  top: 0;
  left: 28vw;
}
.object-2 {
  top: 9%;
  left: 18vw;
}
.object-3 {
  top: 38%;
  left: 7vw;
}
.object-4 {
  top: 139%;
  left: 32vw;
  
}
.object-5 {
  top: 55%;
  left: 24vw;
}
.object-6 {
  top: 174%;
  left: 2vw;
  
}
@media (max-width: 990px) {
  .partfolio-content{
    flex-direction: column;
  }
  .partfolio-text{
    width: 100%;
    margin-top: 0 !important;
    text-align: center;
  }
}
